.auth_background {
    background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/5096160.jpg?v=1709892787");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}